/* Estilos para celular */
div{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/*Estilos para tabletas*/
@media only screen and (min-width:560px) {
    div{
        flex-direction: row;
        color: blue;
        border: 2px dashed red;
    }
    .seccion1,.seccion2{
        flex: 1;
    }
}
/*Estilos para pantallas grandes*/
@media only screen and (min-width:980px){
    div{
        color: white;
        background-color: black;
        border-color: white;
    }
    .seccion2{
        flex: 4;
    }
}
